@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
.header{
    background-color: #3CB2B2;
}
.head-box{
    display: flex;
    justify-content: center;
}
.head-box p{
    color: #BFD2F8;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.head-box ul{
    display: flex;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #FCFEFE;
    gap: 32px;
}
.svg{
    padding: 19px 0 0 302px ;
}
.sec1-box h1{
    font-family: 'Yeseva One', sans-serif;
    color: #1F2B6C;
    font-size: 48px;
    padding: 80px;
}
.sec1{
    background: url("image/Rectangle 3 (1).png") no-repeat ;
    padding: 20px 0 0 30px;
}
.sec2-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 64px 0 0 0;
}
.p-info{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #159EEC;
}
.sec2-right h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color: #3CB2B2;
}
.sec2-right ul{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec2-right p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-box h1{
    text-align: center;
    color: #3CB2B2;
    font-family: 'Yeseva One', sans-serif;
    font-size: 32px;
}
.sec3-card_right p{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_right h2{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_right button{
    background-color: #3CB2B2;
    width: 317px;
    height: 46px;
    color: #BFD2F8;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.sec3-card_rightback{
    background-color: #BFD2F8;
    width: 317px;
    height: 160px;
    padding: 1px 0 0px 0;
}
.sec3-card_center p{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_center h2{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_center button{
    background-color: #3CB2B2;
    width: 317px;
    height: 46px;
    color: #BFD2F8;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.sec3-card_centerback{
    background-color: #BFD2F8;
    width: 317px;
    height: 160px;
    padding: 1px 0 0px 0;
}
.sec3-card_left p{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_left h2{
    color: #3CB2B2;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.sec3-card_left button{
    background-color: #3CB2B2;
    width: 317px;
    height: 46px;
    color: #BFD2F8;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.sec3-card_leftback{
    background-color: #BFD2F8;
    width: 317px;
    height: 160px;
    padding: 1px 0 0px 0;
}
.sec3-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 21px;
}
.sec3{
    padding: 79px 0 0 0;
}