@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
.header{
    background-color: #3CB2B2;
}
.head-box{
    display: flex;
    justify-content: center;
}
.head-box p{
    color: #BFD2F8;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.head-box ul{
    display: flex;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #FCFEFE;
    gap: 32px;
}
.svg{
    padding: 19px 0 0 302px ;
}
.sec1{
    padding: 80px 0 50px 120px ;
}
.sec1-box{
    display: flex;
}
.sec1-box p{
    color: #212121;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.sec1-box_right{
    padding-left: 20px;
}
.sec1-box_right input{
    background: #3CB2B2;
    border-radius: 5px;
    width: 314px;
    height: 50px;
    border: none;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.left{
    background: #BFD2F8;
    border-radius: 50px;
    width: 193px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.right{
    background: #BFD2F8;
    border-radius: 50px;
    width: 193px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.button-sec1{
    padding: 0 0 45px 80px;
    gap: 80px;
}
