@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
.header{
    background-color: #3CB2B2;
}
.head-box{
    display: flex;
    justify-content: center;
}
.head-box p{
    color: #BFD2F8;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.head-box ul{
    display: flex;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #FCFEFE;
    gap: 32px;
}
.svg{
    padding: 19px 0 0 302px ;
}
.sec1{
    background: url("image/Rectangle 3 (3).png")no-repeat;
    padding: 110px 0 120px 120px;
}
.sec1-box h1{
    text-align: start;
    font-family: "Yeseva One", sans-serif;
    font-size: 48px;
    color: #1F2B6C;
}
.sec2{
    background: white;
}
.sec2-card_top{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.sec2-card_bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 30px;
}
.sec2-card_top-bottom h4{
    font-family: "Work Sans", sans-serif;
    font-size: 26px;
    color: #3CB2B2;
    text-align: start;
}
.sec2-card_bottom-bottom h4{
    font-family: "Work Sans", sans-serif;
    font-size: 26px;
    color: #3CB2B2;
    text-align: start;
}
.p-info{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #212124;
    text-align: start;
}
.p-info_2{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #159EEC;
    text-align: start;
}